$braille-in-the-station: url('/assets/images/braille-in-the-station.JPG');
$chairs-in-the-platform: url('/assets/images/chairs-in-the-platform.JPG');
$mountains-with-a-girl: url('/assets/images/mountains-with-a-girl.JPG');
$old-stores-front: url('/assets/images/old-stores-front.JPG');
$old-stores-second-floor: url('/assets/images/old-stores-second-floor.JPG');
$old-stores-signboard: url('/assets/images/old-stores-signboard.JPG');
$public-telephone: url('/assets/images/public-telephone.JPG');
$station: url('/assets/images/station.JPG');
$takoyaki-stores-front: url('/assets/images/takoyaki-stores-front.JPG');
$timetable: url('/assets/images/timetable.JPG');
$train-in-the-station: url('/assets/images/train-in-the-station.JPG');

$blog-sample: url('/assets/images/blog-sample.jpg');
$blog-sample-2: url('/assets/images/blog-sample-2.png');

$logo-white: url('/assets/logo/logo.png');
$logo-dark: url('/assets/logo/logo-dark.png');
