@import "screen-size-mixin";
@import "colours";

.button-container {
    display: flex;
    justify-content: center;

    @include sm {
        justify-content: flex-start;
    }

    .custom-button {
        padding: 15px;
    
        @import "font";
        font-family: $sub-font;
        font-size: $button-font-size-xs;
        text-transform: uppercase;
        color: get-main-white-colour(0.9);
        
        background: rgba($brown-colour, 0.6);
        transition: all 0.3s ease;
        border: none;
        border-radius: 6px;
    
        @include sm {
            font-size: $button-font-size-sm;
            padding: 15px;
            width: 120px;
        }

        .play-icon {
            width: 16px;
            height: 16px;
            display: inline-block;
        vertical-align: middle;
        }
    }

    .about-button {
        margin-right: 10px;
    }
}
