/*============================================
 Border Colour
============================================*/

@function get-main-white-colour($alpha: 0.6) {
    @return rgba(255, 255, 255, $alpha)
}

@function get-bg-gray-colour($alpha: 0.6) {
    @return rgba(113, 143, 154, $alpha);
}

$main-font-colour: #5a5a5a;
$main-gray-colour: #EAE5D9;
$sub-gray-colour: #788585;
$brown-colour: #942F22;
$pink-colour: #C68372;
