@import "screen-size-mixins";
@import "screen-size-mixins";
@import "asset-urls";

header {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 92vw;
    height: 90px;
    padding: 0 4vw;

    @include xl {
        height: 140px;
    }

    a {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.menu-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 30px;
    height: 31px;
    transform:scale(0.8);
    padding: 0;
    cursor: pointer;
    z-index:20;

    @include xl {
        width: 55px;
        height: 44px;
    }
}

.menu-bar {
    width: 30px;
    height: 3px;
    position: absolute;
    transition: all 0.3s;
    @include xl {
        width: 55px;
        height: 3px;
    }
}

.menu-bar1 {
    margin-top: 4px;
    @include xl {
        margin-top: 0px;
    }
}
.menu-bar2 {
    margin-top: 15px;
    @include lg {
        margin-top: 21px;
    }
}
.menu-bar3 {
    margin-top: 26px;
    @include lg {
        margin-top: 40px;
    }
}

.menu-bar-white {
    @import "colours";
    background: get-main-white-colour(1);
}

.menu-bar-dark {
    background: #753218;
}

.menu-icon.hover{
    .menu-bar1 {
        transform: rotate(45deg);
        margin-top: 15px;
    }
    .menu-bar2 {
        opacity: 0
    }
    .menu-bar3 {
        transform: rotate(-45deg);
        margin-top: 15px;
    }
} 