@import "screen-size-mixins";
@import "font";
@import "colours";

main {
    position: fixed;
    height: 100vh;
    width: 100vw;

    @include xl {
        top: 0;
    }

    .inner-screen-container {
        position: relative;
        height: 100%;
        color: rgba($main-font-colour, 0.9);

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .article-header {
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 50%;
            height: 60vh;
            margin-bottom: 40px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            @include sm {
                margin-bottom: 90px;
            }

            @include xl {
                height: 70vh;
            }

            .page-title {
                font-size: $header-font-size-sm;
                font-family: $header-font;
                font-weight: 500;
                letter-spacing: $catch-copy-font-letter-spacing;

                margin: 50px 0 20px 0;

                @include xl {
                    font-size: $header-font-size-xl;
                    font-weight: 600;
                    letter-spacing: 25px;
                }
            }
            .page-description {
                font-size: $s-font-size-xs;
                font-family: $main-font;
                line-height: $s-font-line-height-xs;
                letter-spacing: $s-font-letter-spacing-xs;
                font-weight: 200;
                color: get-main-white-colour(0.9);
                text-align: center;

                width: 90vw;
                max-width: 670px;

                @include sm {
                    font-size: $s-font-size-sm;
                    line-height: 1.5;
                    letter-spacing: $s-font-letter-spacing-sm;
                }
            }
        }
        article {

            display: flex;
            justify-content: center;

            @include xl {
                top: 85vh;
                width: 100%;
            }

            .article-contents {
                width: 90%;
                padding-bottom: 10vh;

                @include xl {
                    width: 70%;
                }
            }

            p {
                font-size: $s-font-size-xs;
                font-family: $main-font;
                line-height: $s-font-line-height-xs;
                letter-spacing: $s-font-letter-spacing-xs;
                font-weight: 200;
                margin-bottom: 26px;

                hyphens: auto;

                &:last-child {
                    margin-bottom: 40px;
                }

                @include sm {
                    font-size: $s-font-size-sm;
                    line-height: $s-font-line-height-sm;
                    letter-spacing: $s-font-letter-spacing-sm;
                }

            }
            tr, td {
                font-size: $s-font-size-sm;
                font-family: $main-font;
                line-height: $s-font-line-height-xs;
                letter-spacing: $s-font-letter-spacing-xs;
            }
        }
    }
}