@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";
@import "font";
@import "colours";

.article-header {
    @import "asset-urls";
    background:         
    linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)), $chairs-in-the-platform;
}

#sidebar {
    width: 100vw;
    display: flex;
   justify-content: center;

    .blog-nav {
        position: relative;
        z-index: 0;
        width: 90%;
        height: calc(6.5vw * 2.5);
        clip-path: inset( 0 -100vw -200vh -100vw );
        text-align: center;

        @include sm {
            height: 56px;
            width: 70%;
        }

        .header {
            background: $pink-colour;
            color: white;
            font-size: $blog-nav-header-font-size-xs;
            letter-spacing: $blog-nav-link-font-letter-spacing-xs;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            @include sm {
                font-size: $blog-nav-header-font-size-sm;
            }

            .down-arrow {
                width: $s-font-size-xs;
                height:100%;
                margin-left: 5px;
                background: url(/assets/icons/arrow_down_white.png) center;
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.3s;
            }
            .upside-down {
                transform: rotateX(180deg);
            }
        }

        .blog-nav-list {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: -2;
            height: fit-content;
            list-style: none;
            padding-bottom: 15px;
            background: $pink-colour;
            transition: all 0.3s;

            @include xl {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            li {
                transition: all 0.3s;

                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;

                    display: block;
                    padding: 15px;
                    font-family: $sub-font;
                    font-size: $blog-nav-link-font-size-xs;
                    font-weight: 400;

                    @include sm {
                        font-size: $blog-nav-link-font-size-sm;
                    }
                }
            }
        }
    }
}

.single-unit-post {
    width: 95%;
    margin: 8vh auto 0;
    text-align: center;

    @include sm {
        margin: 90px auto 0;
    }

    &:after {
        content: "";
        display: block;
        width: 30%;
        height: 1px;
        margin: 8vh auto 0;
        background-color: rgba($main-font-colour, 0.6);

        @include sm {
            margin: 90px auto 0;
        }
    }

    .meta-tertiary {
        font-size: $unit-meta-font-size-xs;
        margin-bottom: 10px;
        .date-updated {
            font-style: italic;
            &:before {
                content: " * Updated on ";
            }
        }

        @include sm {
            font-size: $unit-meta-font-size-sm;
            letter-spacing: $unit-meta-font-letter-spacing-sm;
            margin-bottom: 20px;
        }
    }
    .headline {
        font-size: $unit-headline-font-size-xs;
        margin-bottom: 10px;

        @include sm {
            font-size: $unit-headline-font-size-sm;
            margin-bottom: 25px;
        }
    }
    .categories {
        font-family: $sub-font;
        font-size: $unit-categories-font-size-xs;

        @include sm {
            font-size: $unit-categories-font-size-sm;
        }

        a {
            color: $pink-colour;
            text-transform: uppercase;
            &:after {
                content: ", ";
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .thumbnail {
        width: 100%;
        height: 30vh;

        @include sm {
            height: 300px;
        }

        a {
            display: block;
            height: 100%;
            width: 100%;

            background-repeat: no-repeat;
            background-size:cover;
            background-position-x: 50%;
            background-position-y: 50%;
        }
    }

}