@import "reset";

@import "header";

@import "navigation";

body {
    @import "colours";
    overflow: hidden;
    cursor: none;
    position: relative;
    @import "font";
    font-family: $main-font;

    .cursor {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $brown-colour;
        opacity: 0.8;
        border-radius: 50%;
        position: absolute;
        z-index: 100;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all 0.3s ease;
        transition-property: background, transform;
        transform-origin: 100% 100%;
    }
    .link-grow {
        transform: scale(3);
        opacity: 0.4;
    }
    .whiten {
        background-color: $main-gray-colour;
    }
}