@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";
@import "colours";
@import "footer";

.article-header {
    @import "asset-urls";
    background:         
    linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)), $public-telephone;
}

.contact-page-contents {
    text-align: center;
}

.social-media-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 80vw;
    margin: 50px auto;

    @include sm {
        width: 420px;
    }

    li {
        width: 10%;
        a {
            svg {
                display: block;
                height: 100%;
                path {
                    fill: rgba(#454a50, 0.7);
                }
            }
        }
        &:hover {
            transform: translateY(-1px) scale(1.25);
            transition: transform .2s ease;
            a svg path {
                fill: #454a50;
            }
        }
    }
}