@import "screen-size-mixins";
@import "loading-animation-index-page";

.home {
    height: 100vh;
    main {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .inner-container {
        margin: 40vh 5vw 0;

        display: flex;
        flex-direction: column;

        @include xl {
            margin-left: 15vw;
        }

        .catch-copy {
            @import "font";
            font-family: $header-font;
            letter-spacing: $catch-copy-font-letter-spacing;
            font-weight: 400;
            @import "colours";
            color: get-main-white-colour(1);
            font-size: $catch-copy-font-size-xs;

            margin-bottom: 40px;

            @include sm {
                font-size: $catch-copy-font-size-sm;
                margin-bottom: 80px;
            }
        }
        .company-logo {
            height: calc(100vw/6);
            max-height: 110px;
            width: 660px;
            max-width: 90vw;
            @import "asset-urls";
            background-image: $logo-white;
            background-repeat: no-repeat;
            background-size: contain;
        }
        @import "button-animation";
    }
}

#slideshow {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #my_video {
        display: none;
        
        @include lg {
            display: block;
        }
    }

    .slide {
        @include xl {
            background-size: cover;
        }
    }

    @import "asset-urls";
    .slide-1 {
        background:         
            linear-gradient(
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3)), $old-stores-front;
        background-repeat: no-repeat;
        background-position-x: 40%;
        background-position-y: 75%;
        background-size: cover;
    }
    .slide-2 {
        background-image: $chairs-in-the-platform;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 75%;
    }
    .slide-3 {
        background-image: $takoyaki-stores-front;
        background-repeat: no-repeat;
        background-position-x: 40%;
        background-position-y: 75%;
    }
    .slide-4 {
        #my_video {
            // set the video centered
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); /* % of current element */

            height: 100%;
            width: 190vh; /* 100 * 1.90 / 1 (1.9:1 = video size ratio) */
            min-width: 100%;
            min-height: 52.8vw; /* 100 * 1 / 1.90 (1.9:1 = video size ratio) */
          }
    }
  }
  
  #slideshow > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }