@import "screen-size-mixin";
@import "loading-animation-general";
@import "main-area";
@import "font";
@import "footer";

.blog-post-header {
    @import "asset-urls";
    background:         
    linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.5)), $blog-sample-2;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;

    @include sm {
        margin-bottom: 90px;
        padding-top: 170px;
        padding-bottom: 120px;
    }

    .meta-tertiary {
        font-size: $unit-meta-font-size-xs;
        color:rgba(white, 0.6);
        margin-bottom: 10px;

        @include sm {
            font-size: $unit-meta-font-size-sm;
            letter-spacing: $unit-meta-font-letter-spacing-sm;
            margin-bottom: 20px;
        }

        .date-updated {
            font-style: italic;
            &:before {
                content: " * Updated on ";
            }
        }
    }
    .headline {
        text-align: center;
        font-family: $sub-font;
        font-size: $article-header-font-size-xs;
        letter-spacing: $article-header-font-letter-spacing-xs;
        line-height: 1.2;
        padding: 0 5px;
        margin-bottom: 20px;
        max-width: 1000px;

        @include sm {
            font-size: $article-header-font-size-sm;
            margin-bottom: 30px;
        }
    }
    .categories {
        font-family: $sub-font;
        font-size: $unit-categories-font-size-xs;

        @include sm {
            font-size: $unit-categories-font-size-sm;
        }
        a {
            color:rgba(white, 0.7);
            text-transform: uppercase;

            &:after {
                content: ", ";
            }
            &:last-child:after {
                content: "";
            }
        }

    }
}

.sharing-buttons-section {
    margin-bottom: 100px;

    .sharing-button-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 40px auto 0 auto;

        @include lg {
            width: 100%;
            max-width: 869px;
            margin: 60px auto 0 auto;
        }

        .sharing-button {
            width: 45%;
            background-color: rgba($brown-colour, 0.2);
            border-bottom: 1px solid white;
            border-right: 1px solid white;
            transition: all .5s ease;

            @include lg {
                width: 30%;
            }

            &:hover {
                background-color: rgba($brown-colour, 0.6);
                a {
                    color: white;
                }
            }

            a {
                display: block;
                padding: 13px 0 13px 13px;
                font-family: $sub-font;
                font-size: $sharing-button-font-size-xs;
                color: $brown-colour;

                @include sm {
                    font-size: $sharing-button-font-size-sm;
                }

                span {
                    &:before {
                        content: "";
                        @include md {
                            content: "Share to ";
                        }
                    }
                }

                .sns-icon {
                    height: $sharing-button-font-size-xs;
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 5px;

                    @include sm {
                        height: $sharing-button-font-size-sm;
                    }
                }
            }
        }
    }
}

.post-recommendation-section {
    margin: 0 20px 40px;
    text-align: center;
    h4 {
        display: inline;
        text-align: center;
        font-size: $read-next-title-font-size-xs;
        margin-bottom: 20px;
        font-style: italic;

        @include sm {
            font-size: $read-next-title-font-size-sm;
        }
    }.arrow-icon {
        height: $read-next-title-font-size-xs;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px;

        @include sm {
            height: $read-next-title-font-size-sm;
        }
    }
    hr {
        width: 90%;
        margin: 10px auto 20px;

        @include md {
            margin: 10px auto 50px;
        }
    }
    .posts-container {
        @include md {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80vw;
            margin: auto;
        }

        .single-post {
            width: 100%;
            max-width: 600px;
            margin: 0 0 20px 0;
            display: flex;
            justify-content: flex-start;

            @include md {
                width: 48%;
                margin: 0 0 40px 0;
            }

            .post-image-containter {
                margin: auto 15px auto 0;
                .image {
                    height: 60px;
                    width: 60px;
                    border-radius: 6px;
                    background-image: url('/assets/images/old-stores-signboard.JPG');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                    @include sm {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
            .post-detail {
                margin: auto 0;
                text-align: left;
                h5 {
                    margin-bottom: 10px;
                    line-height: 1.2;
                    font-size: $post-detail-title-font-size-xs;
                    font-weight: 200;

                    @include sm {
                        font-size: $post-detail-title-font-size-sm;
                    }
                }
                p {
                    display: inline-block;
                    font-family: $sub-font;
                    text-transform: uppercase;
                    font-size: $unit-meta-font-size-xs;

                    @include sm {
                        font-size: $unit-meta-font-size-sm;
                    }

                    &:after {
                        content: ", ";
                    }

                    &:last-child {
                        &::after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

//=======================================
// Article contents styling
//=======================================

.article-contents {
    h2 {
        font-size: $article-h2-font-size-xs;
        border-bottom: 5px solid $brown-colour;
        padding: 3vw 0;
        margin: 12vw 0;
        line-height: 1.3;
        font-family: $sub-font;

        @include sm {
            font-size: $article-h2-font-size-sm;
            padding: 28px 0;
            margin: 70px 0;
        }
    }
    h3 {
        font-size: $article-h3-font-size-xs;
        font-family: $sub-font;
        padding: 10px 0 10px 4.5vw;
        margin: 10vw 0 4vw 0;
        line-height: 1.3;
        border-left: 5px solid brown;

        @include sm {
             font-size: $article-h3-font-size-sm;
             padding-left: 20px;
             margin: 40px 0 20px 0;
        }

    }
    .article-contents-image {
        width: 100%;
        max-height: 80vh;
        margin-bottom: 26px;

        @include sm {
            width: calc(100% - 72px);
            margin: 10px 36px 36px 36px;
        }
    }
    p {
        a {
            text-decoration: underline;
            color: $brown-colour;
        }
        code {
            background-color: rgba($brown-colour, 0.1);
            padding: 0 5px;
            font-size: $s-font-size-xs;
            border-radius: 5px;

            @include sm {
                font-size: $s-font-size-sm;
            }
        }
    }
    ul {
        margin: 10px 10px 26px 10px;
        background-color: rgba($brown-colour, 0.1);
        padding: 20px 20px 0 40px;

        @include sm {
            padding: 30px 20px 10px 60px;
            margin: 10px 36px 36px 36px;
        }

        li {
            font-size: $s-font-size-xs;
            line-height: 1.8;
            font-weight: 200;
            hyphens: auto;
            padding-bottom:4vw;

            @include sm {
                font-size: $s-font-size-sm;
                padding-bottom: 15px;
            }
        }
    }
    blockquote {
        margin: 10px 10px 26px 10px;
        padding: 20px 20px 0px 20px;
        font-style: italic;
        background-color: $main-gray-colour;

        @include sm {
            margin: 10px 36px 36px 36px;
        }

        p {
            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
    .table-wrapper-paragraph {
        width: 100%;
        overflow-x: auto;
        font-size: $s-font-size-xs;
        padding-bottom: 26px;

        @include sm {
            font-size: $s-font-size-sm;
            padding-bottom: 36px;
        }
    }
    th {
        background-color: rgba($brown-colour, 0.1);
        border: 2px solid rgba($brown-colour, 0.2);
        padding: 15px;
        vertical-align: middle;
        border-radius: 3px;
    }
    td {
        background-color: whitesmoke;
        border: 2px solid rgba($brown-colour, 0.2);
        padding: 15px;
        vertical-align: middle;
    }
    .gist-file {
        margin-bottom: 26px;

        @include sm {
            margin-bottom: 36px;
        }
    }
    .gist .blob-num {
        border: none;
    }
}
